# Alpaca API
ALPACA_API_KEY=
ALPACA_SECRET_KEY=

# Azure Event Hubs
EVENT_HUB_CONNECTION_STRING=
EVENT_HUB_NAME=

# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# dbt
DBT_PROFILES_DIR=

# ML
MODEL_ENDPOINT=
