# Secrets & Environments
.env
.venv
env/
venv/

# Python
__pycache__/
*.pyc

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
historical_stock_data_25.parquet
.parquet
.terraform.lock.hcl

# dbt
target/
dbt_packages/
logs/

# OS
.DS_Store